/*========colors=========*/
$primery-color: #815BFC;
$secondery-color: #FFFFFF;
$primery-text-color: #2B2350;
$secondery-text-color: #797687;

/* ========Font Size=========*/
$body-font-size: 16px;
$heading-large:60px;
$heading-2:36px;
$heading-3:20px;
$description:18px;

/* ========= Width ========*/
$boxed-container:1200px;











